# Ignore Node.js dependencies (npm, yarn, etc.)
node_modules/
.pnp
.pnp.js

# Ignore testing
coverage

# Ignore build output
/.next/
/out/

# Ignore production
/build

# Ignore environment-specific files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store
*.pem

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.iml

# Ignore build cache (optional)
.next/cache/

# Ignore vercel
.vercel

# Ignore snyk code quality
.dccache

# Ignore webstorm
.idea

# Ignore anchor specific
.anchor
target
**/*.rs.bk
test-ledger